html,
body,
#app {
    height: 100%;
    width: 100%;
}

#viewer {
    .q-dialog__inner--minimized {
        padding: 0;
    }

    .q-dialog__inner > div {
        box-shadow: none;
    }

    .q-dialog__backdrop {
        background: rgba(0, 0, 0, 1);
    }
}

// quasar
@import '~quasar-styl';
@import './transitions.scss';

// tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// iconfont
@import './icon.css';
